@use "./../utils/vars.scss" as *;

.container {
  margin-top: 5rem !important;

  .title {
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
  }

  p {
    color: $black;
    text-align: center;
    font-size: 18px;
  }

  .login_container {
    width: 100vw;
    height: 80vh;
    border: none;
  }
}
